@import '../styles/colors.scss';
th{
    background-color: $second-color;
    color: white;
    font-size: 1.2em;
    text-align: center;
}
.searchInput{
    border: 1px solid $second-color;
    font-size: 1em;
    &::placeholder{
        color: #656565;
        font-size: 1em;
    }
    &:hover,&:left, &:active, &:focus{
        color: $primary-color!important;
        box-shadow: 0px 0px 0px 0px $second-color !important;
    }
}
