<div class="search mt-5 mx-5">
    <div class="input-group">
        <input [formControl]="searchTxt" type="text" class="form-control searchInput p-2 text-center" placeholder="Search by Company Name">
    </div>
</div>
<div class="d-flex justify-content-center align-items-center h-100 w-100 mt-2">
    <div class="mat-elevation-z8 w-100">
        <table mat-table [dataSource]="dataSource|search:searchTxt.value" matSort class="mat-table w-100">
      
          <!-- companyName Column -->
          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name</th>
            <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
          </ng-container>
      
          <!-- companyAddress Column -->
          <ng-container matColumnDef="companyAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Address </th>
            <td mat-cell *matCellDef="let element"> {{element.companyAddress}} </td>
          </ng-container>
      
          <!-- phone Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Phone Number</th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>
      
          <!-- email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
    
          <!-- createdAt Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> createdAt </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
          </ng-container>
    
          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
            <td mat-cell *matCellDef="let element"> 
                <div class="d-flex justify-content-center">
                    <button (click)="handleEdit(element)" class="button m-2" mat-fab color="basic" aria-label="button with a edit icon">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="handleDeletion(element)" class="button m-2" mat-fab color="basic" aria-label="button with a delete icon">
                        <mat-icon>delete</mat-icon>
                      </button>
                  </div>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
</div>
  