<div class="error-component h-100 w-100">
    <div class="h-100 w-100 row justify-content-center align-items-center">
        <div class="error-msg text-center">
            <h1 class="font-weight-bold my-4">This page doesn't exist</h1>
            <p class="my-0">Please <span>return</span> to the previous page, or visit our <a routerLink="/list"><span className="return-home">home page</span></a>.</p>
            <p class="my-0">If the issue continues, visit our <span>Help Center</span>.</p>
            <p class="my-5">Error 404 (N)</p>
        </div>
    </div>
</div>