@import '../styles/colors.scss';
.error-component{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color:$bg-color!important;
    .error-msg {
    h1{
        color: #656565;
        font-size: 1.8em;
        @media screen and (max-width: 768px) {
            font-size:1.5em;
        }
    }
    p{
        color: #656565;
            font-weight: 500;
            font-size: 1em;
            letter-spacing: 1px;
            font-weight: 500;
        }
        span{
            color: $primary-color!important;
            &.return-home:hover{
                text-decoration: underline!important;
                text-decoration-color: $primary-color!important;
                border-bottom-color: $primary-color!important;
            }
        }
        a:hover{
            border-bottom-color: $primary-color!important;
        }
    }
}