@import '../styles/colors.scss';
.navbar{
    background-color: $primary-color;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 25%;
    @media (max-width:768px){
        width: 100%;
        position: relative;
    }
    .dashboard-btn{
        background-color: $second-color!important;
        font-size: 1.3em;
    }
    .nav-list{
        button{ 
            width:100%;
            font-size: 1em;
            color: #fff;
            background-color: transparent;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.active-link{
    color: $second-color!important;
}
.border-primary{
    border-color: $primary-color!important;
}
